<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/styles.css">
    <title>O Scheduler - Auth</title>
  </head>
  <body>
  
    <div class="container">
      <header class="header">
        <nav class="navbar">
            <ul class="nav-list">
              <li><a href="/home" class="nav-link">Home</a></li>
              <li><a href="/privacy">Política de Privacidade</a></li> <!-- Link para a política de privacidade -->
            </ul>
        </nav>
    </header>
      <div class="jumbotron text-center text-primary">
        <h1 class="title animate">Home</h1>
      </div>
    </div>
  </body>
</html>
