<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Schedulador - Era High Tech</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/home" class="nav-link">Home</a></li>
                <li><a href="">Política de Privacidade</a></li> <!-- Link para a política de privacidade -->
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1 class="title animate">O Schedulador - Era High Tech</h1>

        <header>
            <h1>Política de Privacidade</h1>
            <p>Última atualização: 02 de Novembro de 2024</p>
        </header>
    
        <section>
            <h2>Introdução</h2>
            <p>Esta Política de Privacidade descreve nossas políticas e procedimentos sobre a coleta, uso e divulgação de suas
                informações quando você utiliza o Serviço e informa sobre seus direitos de privacidade e como a lei o
                protege.</p>
            <p>Utilizamos seus Dados Pessoais para fornecer e melhorar o Serviço. Ao usar o Serviço, você concorda com a
                coleta e uso de informações de acordo com esta Política de Privacidade.</p>
    
            <h2>Interpretação e Definições</h2>
            <h3>Interpretação</h3>
            <p>As palavras com a letra inicial maiúscula têm significados definidos nas seguintes condições. As definições a
                seguir terão o mesmo significado, independentemente de aparecerem no singular ou no plural.</p>
    
            <h3>Definições</h3>
            <p>Para os propósitos desta Política de Privacidade:</p>
            <ul>
                <li><strong>Conta:</strong> conta única criada para você acessar nosso Serviço.</li>
                <li><strong>Empresa:</strong> refere-se à RS Consultoria e Desenvolvimento de Software, Rua Celidônia 96 -
                    Guaratiba, Rio de Janeiro.</li>
                <li><strong>Cookies:</strong> pequenos arquivos colocados em seu dispositivo que contêm detalhes do seu
                    histórico de navegação.</li>
                <li><strong>Dados Pessoais:</strong> qualquer informação relacionada a uma pessoa identificada ou
                    identificável.</li>
                <li><strong>Serviço:</strong> refere-se ao Website.</li>
                <li><strong>Usuário:</strong> a pessoa acessando ou usando o Serviço.</li>
            </ul>
    
            <h2>Coleta e Uso de Seus Dados Pessoais</h2>
            <h3>Tipos de Dados Coletados</h3>
            <h4>Dados Pessoais</h4>
            <p>Enquanto utiliza nosso Serviço, podemos pedir que você nos forneça certas informações pessoalmente
                identificáveis, incluindo, mas não se limitando a:</p>
            <ul>
                <li>Endereço de e-mail</li>
                <li>Nome e sobrenome</li>
                <li>Número de telefone</li>
            </ul>
    
            <h2>Uso de Seus Dados Pessoais</h2>
            <p>A Empresa pode usar seus Dados Pessoais para os seguintes propósitos:</p>
            <ul>
                <li>Para fornecer e manter nosso Serviço.</li>
                <li>Para gerenciar sua Conta.</li>
                <li>Para entrar em contato com você.</li>
                <li>Para fornecer notícias e informações sobre outros produtos e serviços.</li>
                <li>Para gerenciar seus pedidos.</li>
            </ul>
    
            <h2>Retenção de Seus Dados Pessoais</h2>
            <p>A Empresa reterá seus Dados Pessoais apenas pelo tempo necessário para os propósitos estabelecidos nesta
                Política de Privacidade.</p>
    
            <h2>Transferência de Seus Dados Pessoais</h2>
            <p>Suas informações, incluindo Dados Pessoais, podem ser transferidas e mantidas em computadores localizados fora
                de sua jurisdição.</p>
    
            <h2>Segurança de Seus Dados Pessoais</h2>
            <p>A segurança de seus Dados Pessoais é importante para nós, mas lembre-se que nenhum método de transmissão pela
                Internet ou método de armazenamento eletrônico é 100% seguro.</p>
    
            <h2>Links para Outros Sites</h2>
            <p>Nosso Serviço pode conter links para outros sites que não são operados por nós. Recomendamos que você
                revise a Política de Privacidade de todos os sites que visita.</p>
    
            <h2>Alterações a Esta Política de Privacidade</h2>
            <p>Podemos atualizar nossa Política de Privacidade periodicamente. Notificaremos você sobre quaisquer
                alterações publicando a nova Política de Privacidade nesta página.</p>
        </section>
    


    </div>
    <<footer class="footer">
        <p>© 2024 Meu Aplicativo. Todos os direitos reservados RS Consultoria e Desenvolvimento de Software</p>
    </footer>>
</body>
</html>
